#left-panel {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
	width: 90%;
	padding-left: 5%;
	margin: 0;
	padding-top: 5px;
	padding-bottom: 0;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
		width: 75%;
		  float:right;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#panel-body {
	background-color:#2D93EA;
	height: 100%;
	margin: 0;
	padding: 0;
}

.dest {
	padding: 10px;
	border-bottom: .5px solid #FFFFFF;
}

.d {
	width: 5%;
	padding-right: 3%;
	
}

.location {
	width: 70%;
	margin-right: 3%;
}

.delete {
	width: 5%;
	margin-right: 1.2%;
}

.drag {
	width: 5%;
}
