table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	background-color: white;
}
td {
	padding-bottom: 5px;
	padding-top: 5px;
}

#expand-cal {
	margin-top: -4px;
}

/*Left Naviation Panel*/
#sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo {
	width: 100%;
	padding: 0;
	margin: 0;
}

 /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
		width: 75%;
		  float:right;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#panel-body {
	background-color:#2D93EA;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#calendar {
	position: absolute;
	bottom: 0;
}

@media screen and (max-width: 1000px) {
	#sidebar {
		width: 35%;
	}
	#map {
		width: 65%;
	}
}

@media screen and (max-width: 500px) {
	#sidebar {
		width: 50%;
	}
	#map {
		width: 50%;
	}
}

.dest {
	padding: 10px;
	border-bottom: .5px solid #FFFFFF;
}

.d {
	width: 5%;
	margin-right: 3%;
}

.location {
	width: 73%;
	margin-right: 3%;
	
}

.delete {
	width: 5%;
	margin-right: 3%;
	
}

.drag {
	width: 5%;
	
}

ul#tabs {
  margin: 0;
  list-style-type : none;
  line-height : 35px;
  max-height: 35px;
  overflow: hidden;
  display: inline-block;
  padding-right: 20px;
  padding-left: 3%;
  font-size: 1.1em;
}

ul#tabs > li.active {
  z-index: 2;
  background: #efefef;
}

ul#tabs > li.active:before {
    border-color : transparent #efefef transparent transparent;
}

ul#tabs > li.active:after {
    border-color : transparent transparent transparent #efefef;
}

ul#tabs > li {
  float : right;
  margin : 5px -10px 0;
  border-top-right-radius: 25px 170px;
  border-top-left-radius: 20px 90px;
  padding : 0 30px 0 25px;
  height: 170px;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  max-width : 200px;
}

ul#tabs > li > a {
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
}

ul#tabs > li:before, ul#tabs > li:after {
  content : '';
  background : transparent;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border-width: 10px;
  top: 0px;
  border-style : solid;
  position : absolute;
}

ul#tabs > li:before {
  border-color : transparent #ddd transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -23px;
}

ul#tabs > li:after {
  border-color : transparent transparent transparent #ddd;
  -webkit-transform : rotate(-48deg);
  right: -17px;
}