.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    background-color: #111; /* Black */
    padding-top: 20px;
    float: left;
}
